table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

thead {
  background-color: #282828;
}

th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #282828;
}

tbody tr {
  border-bottom: 1px solid #282828;
}

td {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #282828;
}
