table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

thead {
  background-color: #08a88a;
}

th {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #282828;
}

tbody tr {
  border-bottom: 1px solid #08a88b67;
}

td {
  padding: 10px;
}
.upper{
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.upper button{
  height: 35px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  background-color: #08a88a;
  color: white;
}
.dltbtn{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.navlinks{
  display: flex;
  gap: 20px;
}